body{
    font-family: 'Roboto', sans-serif;
}
.header-box{
    border: 1px solid red;
    padding: 0;
    text-align: center;
    width: 25vw ;
    background-color: white; 
}
.header-box >h3 {
  margin: 5px;
}
.header-box>h6{
    margin: 0;
}
.header{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(7,34,68);   
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.left-item{
   margin: 0;
}
.center-item{
     text-align:center;
}

ul{
    list-style-type: none;
   padding: 0;
}
hr{
    margin: 0;
   height: 1px;
   background-color: black;
}
.elements-container{
    display: flex;
    justify-content: space-between; 
}
.image-container{
  width: 25%; 
   display: flex; 
   align-items: center; 
  justify-content: flex-start;
 
}
.content-container{
  width: 75%; 
   padding: 10px;
}
img{
    max-height: 250px;
    max-width: 250px;
}
.footer{
    background-color:  rgb(7,34,68);
    color: aliceblue;
    text-align: center;
}
#continue-btn{
    background-color: orangered;
    color: white;
    height: 30px;
    border-style: none;
    box-shadow: 3px 3px grey;
}
#catelog-dropdown{
    width: 30%;
}
#subscribe-btn{
    color: white;
    background-color: black;
}
#content-title{
    color: darkblue;
}
@media only screen and (max-width: 600px) {
    .elements-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
    }
    .image-container{
        margin-top: 10px;
    }
    .header-box{
        max-height: 50px;
        width: 40vw ;
       font-size: small;
    }
    .menu-container{
        grid-template-columns: 1fr; 
    }
    .center-item{
      grid-row-start:1 ;
    }
    }
    @media only screen and (max-width: 980px) {
       .image-container{
        width: fit-content;
       } 
       .content-container{
        width: fit-content;
       }
    }
