body {
  background-color: black;
}

.card {
  border: 2px black;
  width: 300px;
  text-align: center;
  height: 400px;

  display: flex;
  flex-direction: column;
  border-radius: 25px;
  justify-content: center;
  padding: 5px;
  box-shadow: 2px 2px 5px 5px lightblue;
  background-color: aliceblue;
}

h1 {
  font-size: 18px;
}

img {
  height: 200px;
  width: 300px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 80px;

}

#idYouTubeIconHtml {
  margin-right: 500px;
  color: aliceblue;
}


.btn-grey {
  background-color: blue;
  height: 30px;
  color: aliceblue;
}

#channel-input {
  height: 22px;
  width: 250px;
}

h1 {
  color: aliceblue;
}

#publishedDate {
  font-size: small;

}

#title {
  color: red;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  color: red;
  text-decoration: none;
  cursor: pointer;

}

#channelTitle {
  font-size: medium;
  font-weight: bolder;

}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

}

.thumbnail {
  margin: 5px;
  padding: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination {
  list-style-type: none;
}

.pagination li {
  padding: 5px;
  margin: 3px;
}

.active {
  background-color: blue;

}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
